* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

a:hover {
  text-decoration: underline;
}

/* HEADER */

#logoIF {
  display: inline-block;
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%;
}

#menu {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.25) 0,
    rgba(0, 0, 0, 0.12) 45%,
    rgba(0, 0, 0, 0.05) 65%,
    transparent 100%
  );
  display: flex;
  align-items: center;
  height: 80px;
  font-size: 13px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.384);
}

#menu-resp{
  display: none;
}

#menu-resp.responsivo{
  border-radius: 1em;
  display: flex;
  background-color: #cccccc62;
  font-size: 1em;
  flex-direction: column;
  margin-left: -70px;
  margin-top: 150px;
  padding: 12px;
  align-items: center;
  list-style-type: none;
  width: 110px;
}


#menu-resp a{
  margin: 5px;
}

#menu nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_section_left {
  display: none;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
}

.menu_section_left .menu_responsivo {
  margin-right: 5px;
  background-color: #ccc;
  border-radius: 1em;
}

.menu_section_right {
  position: fixed;
  right: 0;
  margin-right: 14px;
  display: flex;
  align-items: center;
}

.menu_section_right a {
  margin-right: 8px;
  padding: 10px 2px;
}

.menu_perfil {
  margin-left: 15px;
  padding: 4px;
  width: 40px;
  height: 40px;
  position: relative;
}

.circle_frame {
  position: absolute;
  top: 0;
  left: 0;
}

/* BODY */

#corpo {
  background-image: url("assets/paisagem.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.tile-icon img {
  width: 24px;
  height: 24px;
}

#principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#principal .logo-atividades {
  text-align: center;
  width: 100%;
  font-size: 4em;
  font-weight: 700;
  height: 92px;
}

#buscar {
  margin-top: 18px;
  margin-bottom: 24px;
  width: 50%;
  padding: 7px 10px 6px 20px;
  color: rgba(0, 0, 0, 0.712);
  font-size: 18px;
  border-radius: 1em;
  border: 1px solid #ccc;
}

#posts-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.tile {
  padding: 25px;
  width: 130px;
}

.tile .tile-icon {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: silver;
  border-radius: 50%;
}

.tile .tile-text {
  margin-top: 18px;
}

.tile:hover {
  background-color: #cccccc52;
}

/* CSS */

.content {
  min-height: 100vh;
}

#css-content,
#js-content,
#form-content,
#list-content {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.397);
  background-color: rgba(0, 0, 0, 0.568);
  padding: 25px;
  align-items: center;
  text-align: justify;
  width: 100%;
  margin: 50px auto;
  font-size: 1.3em;
}

#css-content h2,
#js-content h2,
#form-content h2,
#list-content h2 {
  text-align: center;
  margin-bottom: 50px;
}

.link img {
  width: 500px;
  height: 500px;
  border-radius: 1em;
}

.link {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
}

#css-content .texto-introducao,
#js-content .texto-introducao,
#form-content .texto-introducao,
#list-content .texto-introducao {
  width: 50%;
}


/* FOOTER */

footer {
  border-top: 3px solid #ccc;
  display: flex;
  justify-content: center;
  background-color: black;
  text-align: center;
  height: 80px;
  align-items: center;
}

/* MEDIA QUERY */

@media (max-width: 1250px){
  #css-content .texto-introducao,
  #js-content .texto-introducao,
  #form-content .texto-introducao,
  #list-content .texto-introducao {
  width: 100%;
}

  .link{
    flex-direction: column;
  }

  .link img {
    margin: 25px auto;
    width: 200px;
    height: 200px;
    border-radius: 1em;
  }
}

@media (max-width: 650px){

  #principal .logo-atividades{
    margin-bottom: 50px;
  }

  .menu_section_right{
    display: none;
  }

.menu_section_left {
  display: flex;
}

  .menu_section_right_link{
    display: none;
  }
}