html{
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
}

ul > li {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    border-top: 2px solid silver;
    background-color: rgb(58, 58, 58);
    color: white;
}

P{
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.100);
}

a{
    text-decoration: none;
}

a:visited, a:link{
    color: inherit;
}

h1, h2{
    text-align: center;
}

img{
    border-radius: 15px;
    text-align: center;
    position: relative;
    left: 20%;
}

.topo:link, .topo:visited{
    position: relative;
    left: 45%;
    font-size: 1.5em;
    text-align: center;
    color: inherit;
    text-decoration: underline;
}